<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">VolunteeR</h1>
        
        <p class="lead">Connect volunteers with causes that matter to them!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, odio vitae architecto optio in fuga sequi nostrum explicabo odit ipsum quo iste obcaecati adipisci provident, minus non vero? Debitis, voluptatum..</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    </div>

    <div class="row justify-content-around">
        <div class="card col-4" style="width: 18rem; margin-bottom: 10px;" ng-repeat="job in jobs">
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>